<div class="row">
    @foreach (var jour in semaine.Jours)
    {
        <Jour jour="jour" OnAfficheModalNote="OnAfficheModalNote"></Jour>
    }
</div>

@code {
    [Parameter] public SemaineModel semaine { get; set; }
    [Parameter] public EventCallback<JourModel> OnAfficheModalNote { get; set; }
}